<div class="container">
    <div class="col-3">
        <div class="jumbotron1" *ngIf="message">
              <div class="col-3alertdiv">
                <div *ngIf="message" class="alert-danger">
                 User Id already Exists.
                </div>    
            </div>
        </div>
    </div>
    <div class="col-6 new-form">
        <form class="form-horizontal container" [formGroup]="newUserForm" (ngSubmit)="onSubmit()">          
                <h3 class="">Create User</h3> 
                <div class="form-group">
                    <label for="userId">Id </label>
                        <input type="text" formControlName="userId" class="form-control"
                         [ngClass]="{'is-invalid':submitted && f.userId.errors}">
                         <div *ngIf="submitted && f.userId.errors" class="invalid-feedback">
                            <div *ngIf="f.userId.errors.required">First Name is required</div>
                        </div>
                </div>
                <div class="form-group">
                    <label for="firstName">Name </label>
                        <input type="text" formControlName="firstName" class="form-control"
                         [ngClass]="{'is-invalid':submitted && f.firstName.errors}">
                         <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                            <div *ngIf="f.firstName.errors.required">First Name is required</div>
                        </div>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" formControlName="email" class="form-control" 
                    [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">Email is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="userName">Password</label>
                    <input type="password" formControlName="password" class="form-control" 
                    [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Password is required</div>
                    </div>
                </div>
                <div class="btn-toolbar center">
                <button  class="btn btn-success buttonsave" type="submit">
                    Register
                </button>
                <button  routerLink='/userLogin'  class="btn btn-danger buttonCancel " type="submit">
                    Cancel
                </button>
                <!-- <div *ngIf="loading">
                    <h4>Loading....</h4>
                </div> -->
                </div>            
        </form>
    </div>
    <div class="col-3"></div>
</div>
