
<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark" *ngIf="currentUser">
    <a class="navbar-brand" href="#">HackerN</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto" (click)="ToggleNavBar()">
        <li class="nav-item active">
          <a class="nav-link" active routerLink="/"  title="home">
            Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="/challenge"  title="home">
            + Add Challenge
          </a>
        </li>
      </ul>
     <ul class="navbar-nav" (click)="ToggleNavBar()">
      <span class="navbar-text">
        <a class="nav-link"  title="home">
        {{currentUser.userId}}
        <img class="userIcon" src="../assets/img/iconfinder_user-alt_285645.png">
        </a>
      </span>
      <span class="navbar-text">
        <a class="nav-link" (click)="logout()">Logout</a>
      </span>
     </ul>

    </div>
  </nav>

  

<router-outlet></router-outlet>