.main-section{
    margin: 0 auto;
    padding: 20px 20px;
    text-align: center;
    box-sizing: border-box;

}
.card-title{
   color: #819EA6!important;
   font-weight: 800;
}
.container{
    background-color:#111;
    width: 600px;
    margin-top: 20px;
    margin-top: 92px;

     
}

.form-group input ,.form-group select{
    height: 56px;
    width: 100%;
    padding: 10px 20px;
    margin: 24px 1px;
    cursor: pointer;
    border-radius: inherit;
}
button{
    height: 56px;
    width: 100%;
    padding: 10px 20px;
    margin: 24px 1px;
    background-color: #819EA6!important;
    color: white;
    font-size: 18px;
}
