<div class="container">
    <div class="row " *ngIf="dataSource.length > 0">
       <div class="col-8">
        <span class="page-description text-center">
            <h1 class=""><i class="fa fa-camera-retro " aria-hidden="true"></i> List of Challenges</h1>
            <p>Ongoing </p>
        </span>
       </div>
       <div class="col-4">
           <p>Sort By Date</p>
            <i appSortParams (param)="setSortParams($event)" class="fa fa-arrow-up" id="DateAsc">Click Date</i>
            <i appSortParams (param)="setSortParams($event)" class="fa fa-arrow-up" id="DateDesc">Click   Date down</i>
       </div>
       <div class="col-12 ">
        
        <div class="col-12  mainColumn ng-star-inserted mainColumn" *ngFor="let ele of dataSource |sortBy:direction:column:type">
            <div class="card">   
                <div class="card-body">
                <h4 class="card-title">{{ele.challengeName}}</h4>
                <p class="card-text">Description : {{ele.description}}</p>
                <p class="card-text">Tag : {{ele.tag}}</p>
                <p class="card-text">Date : {{ele.creationDate | date : 'yyyy-MM-dd'}}</p>
                </div>
          </div>
          </div>
       </div>
    </div>
</div>
