<div class="container-fluid">
    <div class="col-12">
       <div class="col-12">
        <span class="page-description text-center">
            <h3 class="HackaNews"><i class="fa fa-camera-retro " aria-hidden="true"></i> Hack News, Programming Challenges, And Coding Competitions</h3>
        </span>
       </div>
   <!-- for sorting-->
        <div class="col-12 row  container-section" *ngIf="dataSource.length > 0 "> 
            <div class="col-12 sortOrder">
                <div>
                    <label>Creation Date</label>
                    <i appSortParams (param)="setSortParams($event)" class=" btn" id="DateAsc"> 
                        <img src="../../assets/img/downArrow.png" class="img-arrow">
                    </i>
                    <i appSortParams (param)="setSortParams($event)" class="fa fa-arrow-up btn" id="DateDesc">
                    <img src="../../assets/img/upArrow.png" class="img-arrow"></i>
                    </div>
                    <div>
                        <label>Vote Count</label>
                    <i appSortParams (param)="setSortParams($event)" class="fa fa-arrow-up btn" id="CountAsc"> 
                        <img src="../../assets/img/downArrow.png" class="img-arrow">
                    </i>
                    <i appSortParams (param)="setSortParams($event)" class="fa fa-arrow-up btn" id="CountDesc">
                        <img src="../../assets/img/upArrow.png" class="img-arrow">
                    </i>
                </div>
            </div>
            <!-- challenge cards section  -->
            <div class="col-md-5 col-sm-6 col-lg-4  ng-star-inserted mainColumn" *ngFor="let ele of dataSource |sortBy:direction:column:type">
            <div class="card">
                <div class="card-img-top">
                    {{ele.challengeName}}
                </div>
                    <div class="card-body">
                        <p class="card-title">{{ele.description}}</p>
                        <p class="card-text"><strong>Created on</strong> : {{ele.creationDate | datePipe}}</p>
                        <p class="card-text">
                            <strong>Tag: </strong>
                            <span class="tag">{{ele.tag}}</span>
                        </p>
                        <p *ngIf="ele.usersUpVoted.length > 0">Solving this challenge</p>
                        <div class="usersChallenging" *ngIf="ele.usersUpVoted.length > 0">
                            <p class="upvotesSolve" *ngFor="let upVoters of ele.usersUpVoted">
                                {{upVoters}}
                            </p> 
                            <p *ngIf="ele.usersUpVoted.length > 0" [hidden]="currentUserDetails == ele.userId" class="cross" (click)="downVoteChallenge(ele)">
                                x</p>
                        </div>
                        <p class="card-text votes">Votes : {{ele.voteCount}}</p>
                        <button class="btn btn-primary votes"
                        [hidden]="currentUserDetails == ele.userId"  (click)="onLikeToggle(ele)">Like</button>
                        <button class="btn btn-success votes" 
                        [hidden]="currentUserDetails == ele.userId"  (click)="onDisLikeToggle(ele)"
                        >Dislike</button>
                    </div>                     
                </div>
                <div class="card-footer">
                    <p class="card-item">
                        <button class="btn btn-primary upvote" (click)="upVoteChallenge(ele)" [disabled]="currentUserDetails == ele.userId">
                            Solve this Challenge
                        </button>
                    </p>
                </div>
            </div>
            <div class="col-12 row">
                
            </div>
        </div>
    </div>
          <!-- end of row -->
          <div class="col-12" *ngIf="dataSource.length == 0 " >
            <div class="jumbotron title">
                <div class="btn btn-lg btn-info" routerLink="challenge" >Create New Challenge</div>
            </div>
          </div>
    </div>
