.container-section{
  margin-top: 53px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.card-body{
  min-height: 342px;
}
.HackaNews{
    margin-top: 20px;
    color: #343a40!important;
}
.sortOrder{
  text-align: right !important;
}
.mainColumn{
    margin-bottom: 32px;
  
  }
  .title{
    text-align: center;
    margin-top: 38px;
  }
  .card:hover{
    box-shadow: 0px 2px 4px 3px #eee;
  }

  .card-img-top{
    padding: 31px;
    font-size: 21px;
    text-align: center;
    font-weight: 800;
    background-color: lightgray;
  }
  .votes{
       display: inline-block;
       margin-right: 13px;
       font-size: 17px;
       padding-top: 5px;
  }
  label{
    vertical-align: text-top;
  }
  .upvotesSolve{
    display: inline-block;
    margin-right: 5px;
    background: lightgray;
    display: inline-block;
    padding: 5px;
    margin-right: 5px;
  }

  .upvote{
    height: 52px;
    width: 100%;

  }
  .card{
    min-height: 443px;
    min-width: 341px;
  }
  .tag{
    background: lightgray;
    display: inline-block;
    padding: 5px 10px;
    margin-bottom: 10px;
  }

  .img-arrow{
    width: 19px;
    height: 16px;
  }
  .img-arrow:hover{
    background: lightgrey;
  }
  .cross{
    display: inline-block;
    margin-left: 45px;
    padding-left: 6px;
    height: 24px;
    font-weight: 800;
    width: 24px;
    border-radius: 50%;
    border: 1px solid black;
  }
  .cross:hover{
    background-color: lightgray;
  }
  .usersChallenging{
    display: flex;
    justify-content: right;
  }